<footer>
    <div>
        <h4>Contacto</h4>
        <ul>
            <li> <a href="whatsapp://send?text=Hola&phone=+54 3884636451" target="_blank">Enviame un mensaje</a></li>
            <li> <a href="www.instagram.com" target="_blank">Mi instagram</a></li>
            <li> <a href="www.facebook.com" target="_blank">Mi facebook</a></li>
            <li> <a href="www.github.com" target="_blank">Entra a mi git</a></li>
        </ul>
    </div>
    
    <p>© 2024 Mi Portfolio. Todos los derechos reservados.</p>
    
</footer>
