<header>
    <h1>Mi Portfolio Andrés</h1>
    <nav>
        <ul>
            <li><a href="">Experiencia</a></li>
            <li><a href="">Estudios</a></li>
            <li><a href="">Bienvenida</a></li>
        </ul>
    </nav>

</header>